In [1]:
s1 = {99, 6, 99.5, 'Hello',(-99,0,45,"Hey")}

In [2]:
s1

{(-99, 0, 45, 'Hey'), 6, 99, 99.5, 'Hello'}

In [4]:
s1

{(-99, 0, 45, 'Hey'), 6, 99, 99.5, 'Hello'}

### List and dictionaries cannot be used within a set

# Welcome to CLO1 - Understanding the Python Basics

# SETS & BOOLEANS

## Key Topics:

### 1. Numbers and Variables Assignment
### 2. Strings and Print Formatting  
### 3. Lists   
### 4. Dictionaries
### 5. Tuples, Sets & Booleans <=
### 6. Files

Name  |  Type  |  Description
:---------:|:------:|:--------------------|
Integers|int|Whole numbers like -10, 0, 20, 999
Floating point	|float| Numbers having decimal point like -3.3, 9.99, 9e7
Strings	|str|	Ordered sequence of characters like  "BABD"   'Analytics'   "$199.99" 
Lists	|list|	Ordered Mutable sequence of objects in square brackets like   [10,"hello",200.3]
Dictionaries	|dict|	Unordered & Mutable Key:Value pairs in curly brackets :  {"mykey" : "value" , "name" : "Frankie"}
Tuples	|tup|	Ordered Immutable sequence of objects in round brackets like (10,"hello",200.3)
Sets	|set|	Unordered collection of unique objects (No Duplicates) like  {"a","b"}
Booleans	|bool|	Logical value indicating True or False


Lists|	Tuples|	Sets|	Dictionary
:----|:-------|:-----|:------------
Heterogenous|	Heterogenous|	Heterogenous|	Mixed key-value pairs
Mutable|	Immutable|	Immutable|	Mutable
Duplicates|	Duplicates|	No Duplicates|	No Duplicates
Ordered*|	Ordered*|	Unordered|	Ordered* (Python 3.7 onwards)
Indexed|	Indexed|	Non-Indexed|	Key Value Pair|
[ ]|	( )|	{}|	{}
Unpacking: L1 = [1, 2, 3]; a, b, c = L1 | Unpacking: T1 = (1, 2, 3); a, b, c = T1	||	

* _Ordered means that the items have a defined order, and that order will not change. Unordered means that the 
items do not have a defined order and you cannot refer to an item by using an index_.

In [6]:
s1 = {1,2}

In [7]:
s2 = {1,2,3}

In [9]:
s1.issubset(s2)

True

In [10]:
#Adding element to a set

s1.add((-9,88,77))

In [11]:
s1

{(-9, 88, 77), 1, 2}

In [12]:
s1

{(-9, 88, 77), 1, 2}

In [13]:
s1.add((-9,99,77))

In [14]:
s1

{(-9, 88, 77), (-9, 99, 77), 1, 2}

In [15]:
s1

{(-9, 88, 77), (-9, 99, 77), 1, 2}

In [16]:
s1.add(99)

In [17]:
s1

{(-9, 88, 77), (-9, 99, 77), 1, 2, 99}

In [19]:
s1.add(99)

In [20]:
s1

{(-9, 88, 77), (-9, 99, 77), 1, 2, 99}

In [21]:
len(s1)

5

In [26]:
s1.update((-6,99,77))

In [27]:
s1

{(-9, 88, 77), (-9, 99, 77), -6, -9, 1, 2, 77, 88, 99}

In [28]:
list1 = [-1, 0, 1, 2, -2, 3, -3, -1, 1, 0, 2, -2, 3, -3, 2, -1, "A", "a", "A"]
print(list1, len(list1), sep="\n")

[-1, 0, 1, 2, -2, 3, -3, -1, 1, 0, 2, -2, 3, -3, 2, -1, 'A', 'a', 'A']
19

In [30]:
### 2.1) Sets Methods

s2 = set()   #Creates an empty set

#Adding 1 and 2 to s2
#1. object.add()
s2.add(1)
s2.add(2)
print("After adding 1 & 2, s2: ", s2)

After adding 1 & 2, s2:  {1, 2}

In [31]:
s2.clear()

In [32]:
s2

set()

In [33]:
s3 = {1,2,3}

In [34]:
s4 = s3.copy()

In [35]:
s4

{1, 2, 3}

In [36]:
s3

{1, 2, 3}

In [37]:
s4.add(-99)

In [38]:
s4

{-99, 1, 2, 3}

In [39]:
s3

{1, 2, 3}

In [40]:
id(s3)

1476822625856

In [41]:
id(s4)

1476824027424

In [43]:
s3.difference(s4)   #s3-s4

set()

In [44]:
s4.difference(s3)  #s4-s3

{-99}

In [45]:
s3 = {1,2,3}

In [46]:
s4 = {1,2,3,-99}

In [47]:
s3.difference_update(s4)

In [48]:
s3

set()

In [49]:
s3.difference_update(s4)

In [50]:
s3

set()

In [53]:
#6. object.discard(); object.remove()
#Removes element from the set if it is available
s7 = {1, 9, -9, -1, 0}
print("Original s7: ", s7)
s7.discard(100)
print("After discard of -9, s7: ", s7)

Original s7:  {0, 1, 9, -9, -1}
After discard of -9, s7:  {0, 1, 9, -9, -1}

In [54]:
s7.remove
print("After remove of -2, s7: ", s7)

print()

After remove of -2, s7:  {0, 1, 9, -9, -1}

In [55]:
s10 = {9,99}
s11 = {9, 99, 999}
s12 = {-99}

In [56]:
print(s10.isdisjoint(s11))

False

In [57]:
s10.isdisjoint(s12)

True

In [59]:
s10.issubset(s11)

True

In [60]:
s10.issuperset(s11)

False

In [61]:
s15 = {2,3,4}

In [62]:
s16 = {1,2,3}

In [63]:
s15.union(s16)

{1, 2, 3, 4}

In [64]:
s17 = {2,3,4}

In [65]:
s18 = {1,3,99, -9}

In [66]:
l1 = ['L1', 'L2', -33]

In [67]:
l2 = ('T1', 'T2', 77)

In [68]:
s17.update(l1)

In [69]:
s17

{-33, 2, 3, 4, 'L1', 'L2'}

In [70]:
s19 = {1,2, -99, 0 , 'A'}

In [71]:
a, b, *c = s19

In [73]:
print(a,b,c)

0 1 [2, 'A', -99]

In [75]:
A, *B, C = s19
print(A,B,C)

0 [1, 2, 'A'] -99

In [76]:
s19 = {1,2,-99,0}

In [77]:
max(s19)

2

In [78]:
max(s19)

2

In [79]:
min(s19)

-99

In [80]:
sorted(s19, reverse = True)

[2, 1, 0, -99]

In [81]:
s19 = {1,2,-99,0}

In [82]:
s19.pop()

0

In [83]:
s19

{-99, 1, 2}

In [2]:
a = True
print(a, type(a), id(a))

True <class 'bool'> 140732234979152

In [4]:
v1 = 10
v2 = -10
v2 > v1

False