# Welcome to CLO1 - Understanding the Python Basics

# TUPLES



Name  |  Type  |  Description
:---------:|:------:|:--------------------|
Integers|int|Whole numbers like -10, 0, 20, 999
Floating point	|float| Numbers having decimal point like -3.3, 9.99, 9e7
Strings	|str|	Ordered sequence of characters like  "BABD"   'Analytics'   "$199.99" 
Lists	|list|	Ordered Mutable sequence of objects in square brackets like   [10,"hello",200.3]
Dictionaries	|dict|	Unordered & Mutable Key:Value pairs in curly brackets :  {"mykey" : "value" , "name" : "Frankie"}
Tuples	|tup|	Ordered Immutable sequence of objects in round brackets like (10,"hello",200.3)
Sets	|set|	Unordered collection of unique objects (No Duplicates) like  {"a","b"}
Booleans	|bool|	Logical value indicating True or False


Lists|	Tuples|	Sets|	Dictionary
:----|:-------|:-----|:------------
Heterogenous|	Heterogenous|	Heterogenous|	Mixed key-value pairs
Mutable|	Immutable|	Immutable|	Mutable
Duplicates|	Duplicates|	No Duplicates|	No Duplicates
Ordered*|	Ordered*|	Unordered|	Ordered* (Python 3.7 onwards)
Indexed|	Indexed|	Non-Indexed|	Key Value Pair|
[ ]|	( )|	{}|	{}
Unpacking: L1 = [1, 2, 3]; a, b, c = L1 | Unpacking: T1 = (1, 2, 3); a, b, c = T1	||	

* _Ordered means that the items have a defined order, and that order will not change. Unordered means that the 
items do not have a defined order and you cannot refer to an item by using an index_.


#### Topic 5a: Tuples

    - Similar to Lists but unlike Lists, Tuples are Immutable and defined in round brackets '()'. Mainly used to defined the 
      list of data items, which are not getting changed like days of the week or months of the year etc.
    
    * 1) Creating Tuples
    * 2) Indexing and Slicing
    * 3) Tuples Methods, Functions and Operators  + Unpacking Tuple   
    * 4) Immutability Property
   

Tuples are constructed with round brackets ( ), with comma-separated elements.

In [1]:
### 1) & 2) Creating Tuples + Indexing & Slicing

#Creating Tuple of Mixed datatypes

tuple1 = (-1, 'one', [-99, 0, 99], {1:'One', 2:'Two'}, ('one', 'two', 'three'))


# print("Printing Tuple <tuple1>: ", ??)

In [2]:
tuple1

(-1, 'one', [-99, 0, 99], {1: 'One', 2: 'Two'}, ('one', 'two', 'three'))

In [3]:
len(tuple1)

5

In [4]:
id(tuple1)

2308969996672

In [5]:
type(tuple1)

tuple

In [7]:
print(tuple1, len(tuple1), id(tuple1), type(tuple1), sep = '\n')

(-1, 'one', [-99, 0, 99], {1: 'One', 2: 'Two'}, ('one', 'two', 'three'))
5
2308969996672
<class 'tuple'>

In [8]:
tuple1[-1]

('one', 'two', 'three')

In [12]:
tuple1[-1][1:]

('two', 'three')

In [13]:
tuple1[2:4]

([-99, 0, 99], {1: 'One', 2: 'Two'})

In [14]:
tuple1[-3:-1]

([-99, 0, 99], {1: 'One', 2: 'Two'})

In [15]:
tuple1[-1][::2]

('one', 'three')

In [34]:
t2 = [199,69.99,79.99,-69,-79,69.99,100]

In [17]:
t3 = tuple()

In [35]:
t2.count(199)

1

In [36]:
t2.index(69.99)

1

In [37]:
t2.index(-79)

4

In [38]:
t2

[199, 69.99, 79.99, -69, -79, 69.99, 100]

In [39]:
t3 = (199,69.99,79.99,-69,-79,69.99,100)

In [40]:
l2 = list(t2)

In [41]:
l2[3] = -139

In [42]:
t2 = list(12)

TypeError: 'int' object is not iterable

In [43]:
sorted(t2)

[-79, -69, 69.99, 69.99, 79.99, 100, 199]

In [44]:
max(t2)

199

In [45]:
min(t2)

-79

In [46]:
t2.clear()

In [47]:
t2

[]

In [48]:
t3.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [49]:
type(t2)

list

### packing, using tuples

In [2]:
t1 = 1,2,'a',[1,2,3],'b'

In [3]:
t1

(1, 2, 'a', [1, 2, 3], 'b')

In [4]:
*v1,v2,v3 = t1

In [5]:
v1

[1, 2, 'a']

In [6]:
v2

[1, 2, 3]

In [7]:
v3

'b'

In [8]:
a = 'apple'

In [9]:
a.index('a')

0

In [10]:
a.find('a')

0

In [11]:
a[0:3]

'app'