WORKING WITH NUMBERS (INTEGERS and FLOATS)
============================================== 

# Welcome to CO1 - Understanding the Python Basics

## Key Topics:

### 1. Numbers and Variables Assignment
### 2. Strings and Print Formatting
### 3. Lists
### 4. Dictionaries
### 5. Tuples, Sets & Booleans


Name  |  Type  |  Description
|:---------|:------|:--------------------|
Integers|int|Whole numbers like -10, 0, 20, 999
Floating point	|float| Numbers having decimal point like -3.3, 9.99, 9e7
Strings	|str|	Ordered sequence of characters like  "BABD"   'Analytics'   "$199.99" 
Lists	|list|	Ordered Mutable sequence of objects in square brackets like   [10,"hello",200.3]
Dictionaries	|dict|	Unordered & Mutable Key:Value pairs in curly brackets :  {"mykey" : "value" , "name" : "Frankie"}
Tuples	|tup|	Ordered Immutable sequence of objects in round brackets like (10,"hello",200.3)
Sets	|set|	Unordered collection of unique objects (No Duplicates) like  {"a","b"}
Booleans	|bool|	Logical value indicating True or False

## Topic 1: Numbers and Variables Assignment

- ### Numbers - Integers and Floating point
    * ### Integers: -29, 59, 0, 1000
    * ### Floating Point: 2.9, -0.6, 6E9, 2E-3

In [2]:
## Basic Arithmetic Operations

#Addition, Multiplication, Division, Subtraction, Exponential {:.nf}.format

print("3+2 = ", 3+2)

3+2 =  5

In [3]:
print("3+2 =", 3+2)
print("3+3.9 =", 3+3.9)
print("3*3 =",3*3 )
print("3*3.9 =",3*3.9)
print("23/3 =", 23/3)
print("99*9 =" , 99*9)
print("2e9 =", 2e9)  #2*10^9
print("2E-2 =",2E-2) #2*10^-2

3+2 = 5
3+3.9 = 6.9
3*3 = 9
3*3.9 = 11.7
23/3 = 7.666666666666667
99*9 = 891
2e9 = 2000000000.0
2E-2 = 0.02

In [5]:
print("9**2 =", 9**2)

9**2 = 81

In [6]:
var1= 99 + 10 * 9 - 3
print(var1)

186

In [7]:
var2 = 99 + 10 * 9 / 3
print(var2)

129.0

In [8]:
var3= (99 + 10) * 9 - 3
print("var3 = ", var3)

var4 = (99.5 - (10 * 9)) / 3
print("var4 = ", var4)

var3 =  978
var4 =  3.1666666666666665

In [9]:
v1 = 5.5
v2 = 9
v3 = -99
v4 = "Hello"

In [11]:
print(v1,v2,v3,v4, sep =' ')    #separator operator

5.5 9 -99 Hello

In [12]:
print(v1,v2,v3,v4, sep ='|')  #seporator operator

5.5|9|-99|Hello

In [18]:
print(v1,v2,v3,v4, end = "  (:  <>   :) ")    #ending operator
print(v1,v2,v3,v4, sep = '|')

5.5 9 -99 Hello  (:  <>   :) 5.5|9|-99|Hello

#### we can use shift + tab to see the documentation of every class

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
a = print(v1,v2,v3,v4, sep = '|', flush = True)

5.5|9|-99|Hello

In [22]:
a

In [26]:
# v111 = 29

# #Write Print statement here to get below output


# v111 = ["India", "USA", "UK"]

# #Write Print statement here to get below output




# Output
# ======
# * Earlier: v111 =  29    Variable Type =  <class 'int'>
# * Now: v111 =  ['India', 'USA', 'UK']    Variable Type =  <class 'list'>

## Format function

In [41]:
v111 = 29

In [42]:
print("Earlier: v111=", v111, "Variable Type=", type(v111))

Earlier: v111= 29 Variable Type= <class 'int'>

In [43]:
tp = type(v111)
print(f"Earlier: v111 = {v111}   Variable Type = {type(v111)}")

Earlier: v111 = 29   Variable Type = <class 'int'>

In [44]:
v111 = ["India", "USA", "UK"]

In [45]:
print(f"Now: v111 = {v111}    Variable Type = {type(v111)}")

Now: v111 = ['India', 'USA', 'UK']    Variable Type = <class 'list'>

In [46]:
print(f"Address of v111 is {id(v111)}")

Address of v111 is 1734781307328

In [48]:
###v111 = 99
###v222 = v111

In [1]:
import numpy as np

In [2]:
np.linspace(1,40,10)

array([ 1.        ,  5.33333333,  9.66666667, 14.        , 18.33333333,
       22.66666667, 27.        , 31.33333333, 35.66666667, 40.        ])

In [4]:
help(np.linspace)

Help on function linspace in module numpy:

linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
    Return evenly spaced numbers over a specified interval.

    Returns `num` evenly spaced samples, calculated over the
    interval [`start`, `stop`].

    The endpoint of the interval can optionally be excluded.

    .. versionchanged:: 1.16.0
        Non-scalar `start` and `stop` are now supported.

    Parameters
    ----------
    start : array_like
        The starting value of the sequence.
    stop : array_like
        The end value of the sequence, unless `endpoint` is set to False.
        In that case, the sequence consists of all but the last of ``num + 1``
        evenly spaced samples, so that `stop` is excluded.  Note that the step
        size changes when `endpoint` is False.
    num : int, optional
        Number of samples to generate. Default is 50. Must be non-negative.
    endpoint : bool, optional
        If True, `stop` is the last sample. Otherwise, it is not included.
        Default is True.
    retstep : bool, optional
        If True, return (`samples`, `step`), where `step` is the spacing
        between samples.
    dtype : dtype, optional
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

        .. versionadded:: 1.9.0

    axis : int, optional
        The axis in the result to store the samples.  Relevant only if start
        or stop are array-like.  By default (0), the samples will be along a
        new axis inserted at the beginning. Use -1 to get an axis at the end.

        .. versionadded:: 1.16.0

    Returns
    -------
    samples : ndarray
        There are `num` equally spaced samples in the closed interval
        ``[start, stop]`` or the half-open interval ``[start, stop)``
        (depending on whether `endpoint` is True or False).
    step : float, optional
        Only returned if `retstep` is True

        Size of spacing between samples.


    See Also
    --------
    arange : Similar to `linspace`, but uses a step size (instead of the
             number of samples).
    geomspace : Similar to `linspace`, but with numbers spaced evenly on a log
                scale (a geometric progression).
    logspace : Similar to `geomspace`, but with the end points specified as
               logarithms.

    Examples
    --------
    >>> np.linspace(2.0, 3.0, num=5)
    array([2.  , 2.25, 2.5 , 2.75, 3.  ])
    >>> np.linspace(2.0, 3.0, num=5, endpoint=False)
    array([2. ,  2.2,  2.4,  2.6,  2.8])
    >>> np.linspace(2.0, 3.0, num=5, retstep=True)
    (array([2.  ,  2.25,  2.5 ,  2.75,  3.  ]), 0.25)

    Graphical illustration:

    >>> import matplotlib.pyplot as plt
    >>> N = 8
    >>> y = np.zeros(N)
    >>> x1 = np.linspace(0, 10, N, endpoint=True)
    >>> x2 = np.linspace(0, 10, N, endpoint=False)
    >>> plt.plot(x1, y, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.plot(x2, y + 0.5, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.ylim([-0.5, 1])
    (-0.5, 1)
    >>> plt.show()

In [5]:
np.arange(1,40,10)

array([ 1, 11, 21, 31])

In [7]:
np.random.rand(3,2)

array([[0.70094875, 0.191351  ],
       [0.816474  , 0.45597138],
       [0.67086507, 0.31226297]])

In [11]:
np.random.randint(50,size=10)

array([34, 45,  6,  9, 45, 10, 37, 48,  1, 17])

In [14]:
np.random.randn(5)

array([ 1.33718878,  0.80195481, -0.61910019, -0.21813649,  2.21393853])