# Tuples - immutable
# Lists - mutable

# Welcome to LISTS Datatype

## Key Topics:

### 1. Numbers and Variables Assignment
### 2. Strings and Print Formatting  
### 3. Lists   <=
### 4. Dictionaries
### 5. Tuples, Sets & Booleans
### 6. Files

Name  |  Type  |  Description
:---------:|:------:|:--------------------|
Integers|int|Whole numbers like -10, 0, 20, 999
Floating point	|float| Numbers having decimal point like -3.3, 9.99, 9e7
Strings	|str|	Ordered sequence of characters like  "BABD"   'Analytics'   "$199.99" 
Lists	|list|	Ordered Mutable sequence of objects in square brackets like   [10,"hello",200.3]
Dictionaries	|dict|	Unordered & Mutable Key:Value pairs in curly brackets :  {"mykey" : "value" , "name" : "Frankie"}
Tuples	|tup|	Ordered Immutable sequence of objects in round brackets like (10,"hello",200.3)
Sets	|set|	Unordered collection of unique objects (No Duplicates) like  {"a","b"}
Booleans	|bool|	Logical value indicating True or False





## Topic 3: Lists
- List is also considered as a Sequence in Python. Unlike Strings, Lists are mutable. This implies, elements within list can be changed. 
Python keeps track of every element in a Sequence and thereby it can be accessed via indexing or slicing as well.
    * 1) Creating lists
    * 2) Indexing and Slicing Lists
    * 3) Lists - replication and concatenation operators
    * 4) List Methods - Basic and Advanced
    * 5) Nesting Lists
    * 6) List Comprehensions
Lists are constructed with square brackets [ ], and commas separating every element in the list.

In [1]:
list1 = [-1,-99,99, 10000]

list2 = ['Hello',"BABD","APP", 100.99, 0, -99.98, ["A", "B", "C"]]

In [3]:
len(list1)

4

In [4]:
len(list2)

7

In [5]:
len(list2[-1])

3

In [10]:
type(list1)

list

In [11]:
print(type(list1))

<class 'list'>

In [7]:
id(list1)

2842287964544

In [8]:
id(list1)

2842287964544

In [9]:
id(list2)

2842287964416

In [12]:
list1[1] = 999

In [13]:
list3 = list1

In [14]:
print(list3)

[-1, 999, 99, 10000]

In [15]:
print(id(list1))

2842287964544

In [16]:
print(id(list3))

2842287964544

In [17]:
list3

[-1, 999, 99, 10000]

In [18]:
list3[1] = 18999

In [19]:
list3

[-1, 18999, 99, 10000]

In [20]:
list1

[-1, 18999, 99, 10000]

In [26]:
list2

['Hello', 'BABD', 'APP', 100.99, 0, -99.98, ['A', 'B', 'C']]

## to copy elements of one list to another

In [27]:
list4 = list2[:]

In [28]:
print(id(list4))

2842288985088

In [29]:
print(list1,list4)

[-1, 18999, 99, 10000] ['Hello', 'BABD', 'APP', 100.99, 0, -99.98, ['A', 'B', 'C']]

In [30]:
list4[1] = 999.99

In [31]:
print(list1, list4)

[-1, 18999, 99, 10000] ['Hello', 999.99, 'APP', 100.99, 0, -99.98, ['A', 'B', 'C']]

## copy method/function

In [32]:
list5 = list1.copy()

In [33]:
print(id(list1), id(list5))

2842287964544 2842288491456

In [34]:
list5

[-1, 18999, 99, 10000]

In [35]:
list5[-1] = 0

In [36]:
print(list1, list5)

[-1, 18999, 99, 10000] [-1, 18999, 99, 0]

## Range

In [39]:
r1 = range(10)

In [40]:
type(r1)

range

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
list(range(0,100,9))

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [44]:
list(range(-1,-5,-1))

[-1, -2, -3, -4]

In [46]:
list(range(-1,-5,-4))

[-1]

In [47]:
list3 = ['Hello', 'BABD', 'APP', 100.99, 0, -99.78, ['A','B','C']]

In [48]:
print(list3[3], list3[-4])

100.99 100.99

In [49]:
list3[-1][:2]

['A', 'B']

In [51]:
list3[-1][1]

'B'

In [52]:
type(list3[-1][:2])

list

In [53]:
list1 = 'Hello'
list2 = 'World'

In [54]:
list1*5

'HelloHelloHelloHelloHello'

In [55]:
list3.append((9,9,9))

In [56]:
list3

['Hello', 'BABD', 'APP', 100.99, 0, -99.78, ['A', 'B', 'C'], (9, 9, 9)]

In [57]:
list3.append((1,2,3))

### inplace methods performs actions on an object and returns nothing when printed, like list.append()

In [59]:
print(list3)

['Hello', 'BABD', 'APP', 100.99, 0, -99.78, ['A', 'B', 'C'], (9, 9, 9), (1, 2, 3)]

In [60]:
list4 = list3.append('HEY')

In [63]:
print(list4)

None

In [64]:
list4 = list3

In [65]:
list3

['Hello',
 'BABD',
 'APP',
 100.99,
 0,
 -99.78,
 ['A', 'B', 'C'],
 (9, 9, 9),
 (1, 2, 3),
 'HEY']

In [66]:
list4

['Hello',
 'BABD',
 'APP',
 100.99,
 0,
 -99.78,
 ['A', 'B', 'C'],
 (9, 9, 9),
 (1, 2, 3),
 'HEY']

In [67]:
listx = list4

In [68]:
listx

['Hello',
 'BABD',
 'APP',
 100.99,
 0,
 -99.78,
 ['A', 'B', 'C'],
 (9, 9, 9),
 (1, 2, 3),
 'HEY']

In [69]:
listx[-2]

(1, 2, 3)

In [70]:
listx[-2][-1]

3

## tuples are immutable :)

In [71]:
listx[-2][-1] = 45

TypeError: 'tuple' object does not support item assignment