### Datetime module

#### hh:mm:sec:ms

In [2]:
#datetime

import datetime

t1 = datetime.time(4,20,1)
print(t1, type(t1))

04:20:01 <class 'datetime.time'>

In [3]:
t2 = datetime.time(4, 20, 1, 100)  #time class in datetime module - hr, min, sec, millsec
print(t2, type(t2))

04:20:01.000100 <class 'datetime.time'>

In [4]:
# Print different values/ attributes in time class within datetime module

print(t1)
print('hour  :', t1.hour)
print('minute:', t1.minute)
print('second:', t1.second)
print('microsecond:', t1.microsecond)
print('tzinfo:', t1.tzinfo)

04:20:01
hour  : 4
minute: 20
second: 1
microsecond: 0
tzinfo: None

In [5]:
##### Checking min and max values a time of day can have in a module using time class methods

# T3 - Ex 2 - min and mx methods on time class

print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)  #resolution is at microsecond level

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

#### Dates
* datetime allows working with date timestamps. 
* Calendar date values are represented with the date class. 
* Instances have attributes for year, month, and day. 
* Todayâ€™s date can be created using the today() class method.

In [6]:
# T3 - Ex 3 - Using datetime module for date class and attributes

import datetime
# or
# from datetime import date

today1 = datetime.date.today()

In [7]:
today1

datetime.date(2024, 4, 12)

In [9]:
print(today1.timetuple())

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=-1)

In [10]:
today1.ctime()

'Fri Apr 12 00:00:00 2024'

In [11]:
print(today1)

print('ctime:', today1.ctime())

print('tuple:', today1.timetuple())

print('ordinal:', today1.toordinal())

print('Year :', today1.year)

print('Month:', today1.month)

print('Day  :', today1.day)

2024-04-12
ctime: Fri Apr 12 00:00:00 2024
tuple: time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=-1)
ordinal: 738988
Year : 2024
Month: 4
Day  : 12

In [14]:
print(datetime.date.min)

0001-01-01

In [15]:
print(datetime.date.max)

9999-12-31

In [16]:
print(datetime.date.resolution)

1 day, 0:00:00

In [17]:
today1

datetime.date(2024, 4, 12)

In [20]:
d2 = today1.replace(year=2099)

In [21]:
print(today1, d2)

2024-04-12 2099-04-12

In [22]:
d2 = d2.replace(month = 9)
print(today1, d2)

2024-04-12 2099-09-12

In [23]:
print(d2-today1)

27546 days, 0:00:00

## Math module

In [24]:
import math

math.pi

3.141592653589793

In [25]:
math.log(10)

2.302585092994046

In [27]:
math.pow(10,2)

100.0

In [28]:
math.log10(1000)

3.0

In [29]:
math.floor(9.7)

9

In [30]:
math.ceil(10.6)

11

In [31]:
math.ceil(10.5)

11

In [32]:
math.ceil(10.4)

11

In [33]:
math.inf

inf

In [34]:
math.nan

nan

In [35]:
1/0

ZeroDivisionError: division by zero

In [36]:
math.pow(9,99999999999)

OverflowError: math range error

In [37]:
math.e

2.718281828459045

In [38]:
math.log(math.e)   #logeE = 1

1.0

In [39]:
def func1(n):
    '''
    Given a number n, returns a list of string integers
    ['0','1','2', ....'n']
    '''
    
    return [str(num) for num in range(n)]

In [41]:
print(func1(20))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

In [42]:
def func2(n):
    '''
    Given a number n, returns a list of string integers
    '''
    
    return list(map(str,range(n)))

In [43]:
print(func2(20))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

In [44]:
import time
start_time1 = time.time()

In [45]:
res1 = func1(10000000)

In [46]:
end_time1 = time.time()

In [47]:
print(end_time1 - start_time1)

24.112611055374146

In [49]:
import time

start_time2 = time.time()
res1 = func2(10000000)
end_time2 = time.time()
print(end_time2 - start_time2)

6.440004825592041

In [50]:
# importing timeit module

import timeit
#help(timeit)

# func11()

# Create setup - implies that needs to be defined beforehand, such as def functions.

setup1 = '''
def func11(n):
    return [str(num) for num in range(n)]
'''


# Define stmt - func11() to process how many values

stmt1 = 'func11(100)'

#Invoke timeit.timeit() to specify how mnay loops to be run for stmt defined
# func11() process 100 values and func11() is invoked 1000000 times (1 million)

dur_time11 = timeit.timeit(stmt1,setup1,number=1000000)
print(dur_time11)

31.786955300000045

In [51]:
# importing timeit module

import timeit
#help(timeit)

# func11()

# Create setup - implies that needs to be defined beforehand, such as def functions.

setup2 = '''
def func12(n):
    return list(map(str,range(n)))
'''


# Define stmt - func11() to process how many values

stmt2 = 'func12(100)'

#Invoke timeit.timeit() to specify how mnay loops to be run for stmt defined
# func11() process 100 values and func11() is invoked 1000000 times (1 million)

dur_time12 = timeit.timeit(stmt2,setup2,number=1000000)
print(dur_time12)

22.167347699999937

## Q1 Swapping commas and dots in a string - use str.replace()

### Ask the user to enter the string, '123,456,789.987'
### Replace comma and dot with each other and display the output

In [58]:
a = str('123,456,789.987')
a

'123,456,789.987'

In [61]:
a.split(',')

['123', '456', '789.987']

In [63]:
a.replace('123,456,789.987','.')

'.'

In [77]:
def funx(n):
    n.replace(str(','),str('.'))
    return n

In [78]:
funx('123,456,789.987')

'123,456,789.987'

In [98]:
def funx(str1):
    str1 = str1.replace('.',':')
    str1 = str1.replace(',','.')
    str1 = str1.replace(':',',')
    return str1

In [99]:
str1 = input('Enter string: ')
print('You entered: ', str1)
str2 = funx(str1)
print('Updated seq:', str2)

Enter string: 123,565.2323
You entered:  123,565.2323
Updated seq: 123.565,2323

## Q2

In [89]:
seq1 = ['K1','K2','K3']
dict1 = dict.fromkeys(seq1)

In [90]:
print(dict1)

{'K1': None, 'K2': None, 'K3': None}

In [92]:
dict3 = dict.fromkeys(seq1,-1)
print(dict3)

{'K1': -1, 'K2': -1, 'K3': -1}

In [94]:
seq2 = [1,2,3]
seq3 = ['A1','A2','A3']
d4 = dict.fromkeys(seq2, list(seq3))

In [95]:
print(d4)

{1: ['A1', 'A2', 'A3'], 2: ['A1', 'A2', 'A3'], 3: ['A1', 'A2', 'A3']}

In [96]:
seq2 = [1,2,3]
seq3 = ['A1','A2','A3']
d4 = dict.fromkeys(seq3, list(seq2))

In [97]:
print(d4)

{'A1': [1, 2, 3], 'A2': [1, 2, 3], 'A3': [1, 2, 3]}