In [1]:
l1 = [-99,-100,0,100,22]

In [2]:
l2 = [i for i in l1 if i%2==0]

In [3]:
l2

[-100, 0, 100, 22]

In [20]:
#Q2 Creating a list of strings having odd length
l1 = ['ABC','APP','BABD','MLDM','APR1','STATS']

In [21]:
l2 = [i for i in l1 if len(i)%2 != 0]

In [22]:
l2

['ABC', 'APP', 'STATS']

In [23]:
l4 = [i for i in l1 if len(i)==3]

In [24]:
l4

['ABC', 'APP']

In [31]:
#Create a list of characters from the given string in a way
#that each character is replaced two times while preparing
#an output list


#SANDY
#{'SS','AA','NN','DD','YY'}

str1 = input('Enter your name: ')
set2 = {chr*2 for chr in str1}
print(set2)

Enter your name: RAJ
{'RR', 'AA', 'JJ'}

In [32]:
## 5.4

f = [32.0]
c=

SyntaxError: invalid syntax (<ipython-input-32-63b5dfa7fe21>, line 4)

In [38]:
l1 = list(range(3,23,2))
print(l1)
print('#'*30)
l2 = [x**2 for x in l1]

l3 = [y**2 for y in [y*2 for y in l1]]

print(l1)
print('='*30)
print(l2)
print('--'*30)
print(l3)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
##############################
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
==============================
[9, 25, 49, 81, 121, 169, 225, 289, 361, 441]
------------------------------------------------------------
[36, 100, 196, 324, 484, 676, 900, 1156, 1444, 1764]

In [39]:
l1 = list(range(3,23,2))
print(l1)
print('#'*30)
l2 = [x**2 for x in l1]

l3 = [int(y**0.5) for y in [y*2 for y in l1]]

print(l1)
print('='*30)
print(l2)
print('--'*30)
print(l3)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
##############################
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
==============================
[9, 25, 49, 81, 121, 169, 225, 289, 361, 441]
------------------------------------------------------------
[2, 3, 3, 4, 4, 5, 5, 5, 6, 6]

In [40]:
# 5.4 - Complex Expressions like F to C in Temperature using formula c = (5/9)*(f - 32)

# Convert Fahreinheit to Celsius - IMPORTANT

f = [32.0, 50.0, 68.18, 94.1]

c = ["%.2f" %((5/9)*(val - 32)) for val in f]

# c = [((5/9)*(val - 32)) for val in f]
print(c)

['0.00', '10.00', '20.10', '34.50']

## User Defined Functions in Python

In [41]:
n1 = int(input('Enter a number'))
print(n1%2 == 0)

Enter a number23
False

In [42]:
def chk_even(x):
    if x%2 == 0:
        print(f'{x} is Even')
    else:
        print(f'{x} is Odd')

In [43]:
chk_even(99)

99 is Odd

In [44]:
l1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
l2 = []

In [45]:
def lencheck(l1):
    [i for i in len(l1[i])%2 == 0]
    l2 = i.append(l1[i])

In [55]:
l1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
print(len(l1[2])%2 ==0)
#l2 = [i for i in len(l1[i])%2 == 0]

True

In [81]:
l1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
l2=[]
l3=[]
for i in l1:
    if len(i)%2 == 0:
        l2.append(i[0])
    else:
        l3.append(i[-1])
        
print(l2)
print(l3)

['A', 'K']
['J', 'I', 'Y']

In [72]:
l2 = [s[0] for s in l1 if len(s)%2 == 0]
l2

['A', 'K']

In [73]:
def chk_len_even(str):
    return len(str)%2 == 0

In [74]:
l2 = [s[0] for s in l1 if chk_len_even(s)]
l2

['A', 'K']

In [77]:

l1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
l2=[]
l3=[]
def funx():
    for i in l1:
        if len(i)%2 == 0:
            l2.append(i[0])
        else:
            l3.append(i[0])
        
    print(l2)
    print(l3)

In [78]:
funx()

['A', 'K']
['R', 'A', 'B']

In [79]:
def result_print(var1, var2):
    print(var1+var2)
    
def result_return(var1,var2):
    return var1+var2

result1 = result_print(99,-199)
print(result1)

-100
None

In [80]:
def result_print1(var1, var2):
    return(var1+var2)
    
def result_return(var1,var2):
    return var1+var2

result2 = result_print1(99,-199)
print(result2)

-100

### by default function returns none, if don't add return to the function

In [107]:
def chk_str_len1(l1):
    l2 = []
    for val in l1:
        if len(val)%2 ==0:
            l2.append(val[0])
        else:
            l2.append(val[-1])
            
    return l2

In [108]:
list1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
list2 = chk_str_len1(list1)
print(list2)

['J', 'I', 'A', 'K', 'Y']

In [109]:
def chk_str_len(l1):
    l2 = []
    for val in l1:
        if len(val)%2 ==0:
            l2.append(val[0])
        else:
            l2.append(val[-1])

In [110]:
list1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
list2 = chk_str_len(list1)
print(list2)

None

In [116]:
def chk_str_len3(l1):
    l2 = []
    for val in l1:
        if len(val)%2 ==0:
            l2.append(val[0])
        else:
            l2.append(val[-1])
            
    print(l2)
    #return l2

In [117]:
list1 = ['RAJ','ADITI','AJAY','KUSHAL','BENNY']
list2 = chk_str_len3(list1)
print(list2)

['J', 'I', 'A', 'K', 'Y']
None

In [119]:
def chk_str_len3(l1):
    l2 = []
    for val in l1:
        if len(val)%2 ==0:
            l2.append(val[0])
        else:
            l2.append(val[-1])
            
    print(l2)
    #return l2

In [120]:
chk_str_len3(list1)

['J', 'I', 'A', 'K', 'Y']

In [121]:
def chk_str_len3(l1):
    l2 = []
    for val in l1:
        if len(val)%2 ==0:
            l2.append(val[0])
        else:
            l2.append(val[-1])
            
    print(l2)
    return l2

In [122]:
chk_str_len3(list1)

['J', 'I', 'A', 'K', 'Y']

['J', 'I', 'A', 'K', 'Y']