In [4]:
#define a functions which will return a tuple of name and marks

def ret_top(l1):
    max_hrs = 0
    name = ''
    
    for n1,m1 in l1:
        if m1> max_hrs:
            max_hrs = m1
            name = n1
    return (name, max_hrs)

In [5]:
#Find out the emp name having maximum work hours

emp_list = [('Abhi', 189),('Sasha', 120),('Simran',150)]
emp_name,max_hours = ret_top(emp_list)
print(f"Top performer - Name: {emp_name}; Hours:{max_hours}")

Top performer - Name: Abhi; Hours:189

### Functions - map(), lambda(), filter()

#map - maps the elements <br>
#lambda - acts like list comprehension <br>
#filter = filters out specific elements <br>

In [11]:
### Return a list of squares of numbers in the given list

#define function

def my_square(mylist1):
    newlist1 = []
    for num in mylist1:
        newlist1.append(num**2)
    return newlist1

list1 = [-9,0,9,9,8,14,1]
my_square(list1)

[81, 0, 81, 81, 64, 196, 1]

### map

In [7]:
def ret_sq(x):
    return x**2

In [8]:
list1 = [-9,0,9,9,8,14,1]
list2 = list(map(ret_sq, list1))

In [9]:
print(list1)
print(list2)

[-9, 0, 9, 9, 8, 14, 1]
[81, 0, 81, 81, 64, 196, 1]

### filter

In [12]:
def ret_even_sq(y):
    if y%2 == 0:
        return True

In [13]:
#Using MAP - create a list of squares of the numbers in given list

list1 = [-9,0,9,9,8,14,1]
list2 = list(filter(ret_even_sq, list1))

print(list1)
print(list2)

[-9, 0, 9, 9, 8, 14, 1]
[0, 8, 14]

In [14]:
list1 = [-9,0,9,9,8,14,1]
list2 = list(map(ret_even_sq, list1))

print(list1)
print(list2)

[-9, 0, 9, 9, 8, 14, 1]
[None, True, None, None, True, True, None]

In [17]:
def str_splicer(mystr1):
    if len(mystr1) % 2 ==0:
        return mystr1[-1]
    else:
        return mystr1[0]
    
    
names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(map(str_splicer, names_list))

['K', 'S', 'h', 'K', 'a']

In [18]:
# filter sees true/false
# map sees the values , could be anything boolean or integer or string

def str_splicer(mystr1):
    if len(mystr1) % 2 != 0:
        return True
    
names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(filter(str_splicer, names_list))

['Krish', 'Sandy', 'Kabir']

## Lambda function

In [19]:
def ret_cube(x):
    return x**3

ret_cube(23)

12167

In [20]:
(lambda x:x**3)(23)

12167

In [21]:
(lambda x:x**3)(236)

13144256

In [22]:
f1 = lambda x:x**3
f1(24)

13824

In [23]:
(lambda s1:s1[::-1])('Hello')

'olleH'

In [24]:
rev_str = (lambda s1:s1[::-1])
rev_str('Hello')

'olleH'

In [25]:
list1 = [-9,0,9,9,8,14,1]
list2 = list(map(lambda x:x**2, list1))

print(list1)
print(list2)

[-9, 0, 9, 9, 8, 14, 1]
[81, 0, 81, 81, 64, 196, 1]

In [30]:
names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(map(lambda s1:s1[0] if(len(s1)%2 == 1) else s1[-1], names_list))

['K', 'S', 'h', 'K', 'a']

In [31]:
names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(map(lambda s1:s1[0]*3, names_list))

['KKK', 'SSS', 'PPP', 'KKK', 'SSS']

In [32]:
#Using lambda and filter logic, return strings having even length

names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(filter(lambda s1:len(s1)%2 == 0, names_list))    #returns output values only if the condition comes out to be true

['Piyush', 'Saisha']

In [33]:
#Using lambda and filter logic, return strings having even length

names_list = ['Krish','Sandy','Piyush','Kabir','Saisha']
list(map(lambda s1:len(s1)%2 == 0, names_list))    #returns everything that is returned i

[False, False, True, False, True]